@media (max-width: 768px){
    .intro{
        margin-top: 30px;
        
        h1{
            font-size: 34px;
            margin-bottom: -15px;
        }

        h3{
            font-size: 24px;
        }

        h5{
            font-size: 24px;
        }
    }

    .menu-slide{

        .indice{
            
            li{
                font-size: 22px;
                transform: translateX(10px);

                &:nth-of-type(1){
                    font-size: 36px;
                }
            }
        }
    }

}

@media (min-width: 1080px){
    .galeria{
        
        .foto{
            
            display: none;
        }
    }
}