@import 'variables';
@import 'mixins';


body{
    background-color: $marsala;
    padding: 0;
    margin: 0;    
}

//MAIN STRUCTURE
.content-div{
    position: relative;

    @include grid-display;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 'header'
                         'mid'
                         'bottom-side';
    &::before{
        content: "";
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;

        @include background-properties(1);
        
        -webkit-filter: blur(8px) opacity(70%);
        
                filter: blur(8px) opacity(70%);
    }   
}

//HEADER SECTION
.header{
    grid-area: header;
    
    padding: 15px;

    @include grid-display;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: 'logo space menu';
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    img{
        grid-area: logo;
        height: 75px;

        margin-right: 15px;
    }

    .title{
        grid-area: logo;

        color: $gold-yellow;
        font-family: $poppins;
        font-size: 22px;

        -webkit-transform: translateX(85px);

                transform: translateX(85px);

        cursor: default;
    }

    .menu-open{
        grid-area: menu;
        justify-self: end;
        color: #ffffff;
        font-size: 30px;
        outline: none;

        -webkit-transition: .3s color;

        transition: .3s color;

        &:hover{
            color: $blueish;
        }
    }
}

//CONTENT SECTION
.intro{
    grid-area: mid;
    justify-self: left;
    align-self: center;

    margin-left: 50px;
    margin-top: 95px;

    font-family: $atma;
    color: $gold-yellow;

    height: 56vh;

    cursor: default;
    
    h1{
        font-size: 50px;
        margin-bottom: -35px;
    }

    h3{
        font-size: 30px;
        margin-bottom: -30px;
    }

    h5{
        font-size: 26px;
    }
}

//MUSICA CONTENT
.musica{

    margin: 20px;

    .song-title{
        font-family: $poppins;
        font-size: 24px;
        color: $gold-yellow;
    }
}

//INFORME SECTION
.informe{
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: $poppins;
    color: $gold-yellow;
    text-align: justify;

    .about-title{
        font-size: 40px;
        text-align: center;
    }
    
    .about-subtitle{
        font-style: italic;
    }

    .autores{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        
        .profile{
            width: 150px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;        
    
            .img{
                width: 100px;
                height: 100px;
                background-image: url('/src/img/informe/profiles/profile0.jpg');
                background-size: 100px;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 100px;
            }
    
            .name{
                font-size: 12px;
            }
        }
    }

    .diagrama{
        width: 100%;
    }

    .input-list{
        width: 100%;
        background-color: #fff;
        color: #000000;
        border: 1px solid black;
        border-collapse: collapse;

        th{
            padding: 10px;
            color: #ffffff;
            background-color: $blueish;
            border: 1px solid black;
        }

        td{
            padding: 10px;
            border: 1px solid black;
        }
    }
    
}

//GALERIA SECTION
.galeria{
    width: auto;
    padding: 20px;
   
    display: -webkit-box;
   
    display: -ms-flexbox;
   
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

   .foto{
       margin: 10px;
       width: 40vw;
       border-radius: 4px;
   }

   .foto-2{
       @extend .foto;
        width: 80vw;
       
       
   }
}

//FOOTER SECTIOM
.footer{
    grid-area: bottom-side;
    
    height: 50px;
    width: auto;
    
    margin-right: 20px;
    justify-self: right;
    align-self: end;

    img{
        height: 20px;
        margin-top: 25px;
    }
}

//MENU SLIDER
.menu-slide{

    content: ' ';
    @include grid-display;
    grid-template-rows: repeat(3, auto);
    
    background: #ffffff;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 100%);
    
    position: fixed;
    top: 0;
    right: 0;

    padding: 20px;

    height: 100%;
    width: 45vw;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);

    //display: none;
    
    .menu-close{
        font-size: 30px;
        justify-self: end;
        color: #000000;
        outline: none;
    
        -webkit-transition: color 0.2s ease-out;
    
        transition: color 0.2s ease-out;

        height: 32px;

        &:hover{
            color: $marsala;
        }
    }
    
    .indice{
        justify-self: center;
        list-style: none;
        
        font-family: $poppins;
        font-weight: 700;        


        li{
            -webkit-transform: translateX(90px);
                    transform: translateX(90px);
            font-size: 34px;
            
            -webkit-filter: opacity(100%);
            
                    filter: opacity(100%);
            
            -webkit-transition: color 0.2s ease-out;
            
            transition: color 0.2s ease-out;

            &:nth-of-type(1){
                font-size: 52px;
            }
            
            &:hover{
                color: $blueish;
            }
            
            a{
                color: inherit;
                text-decoration: none;
                outline: none;
            }
        }
        

    }
}


@import 'responsive';
