body {
  background-color: #964F4D;
  padding: 0;
  margin: 0;
}

.content-div {
  position: relative;
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "mid" "bottom-side";
}
.content-div::before {
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("/src/img/background/studio-background-1.jpg");
  background-color: #964F4D;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 100vh;
  background-blend-mode: soft-light;
  -webkit-filter: blur(8px) opacity(70%);
  filter: blur(8px) opacity(70%);
}

.header {
  grid-area: header;
  padding: 15px;
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas: "logo space menu";
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header img {
  grid-area: logo;
  height: 75px;
  margin-right: 15px;
}
.header .title {
  grid-area: logo;
  color: #F8FB9B;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  -webkit-transform: translateX(85px);
  transform: translateX(85px);
  cursor: default;
}
.header .menu-open {
  grid-area: menu;
  justify-self: end;
  color: #ffffff;
  font-size: 30px;
  outline: none;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}
.header .menu-open:hover {
  color: #5D8CB3;
}

.intro {
  grid-area: mid;
  justify-self: left;
  align-self: center;
  margin-left: 50px;
  margin-top: 95px;
  font-family: "Atma", sans-serif;
  color: #F8FB9B;
  height: 56vh;
  cursor: default;
}
.intro h1 {
  font-size: 50px;
  margin-bottom: -35px;
}
.intro h3 {
  font-size: 30px;
  margin-bottom: -30px;
}
.intro h5 {
  font-size: 26px;
}

.musica {
  margin: 20px;
}
.musica .song-title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #F8FB9B;
}

.informe {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: #F8FB9B;
  text-align: justify;
}
.informe .about-title {
  font-size: 40px;
  text-align: center;
}
.informe .about-subtitle {
  font-style: italic;
}
.informe .autores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.informe .autores .profile {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.informe .autores .profile .img {
  width: 100px;
  height: 100px;
  background-image: url("/src/img/informe/profiles/profile0.jpg");
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
}
.informe .autores .profile .name {
  font-size: 12px;
}
.informe .diagrama {
  width: 100%;
}
.informe .input-list {
  width: 100%;
  background-color: #fff;
  color: #000000;
  border: 1px solid black;
  border-collapse: collapse;
}
.informe .input-list th {
  padding: 10px;
  color: #ffffff;
  background-color: #5D8CB3;
  border: 1px solid black;
}
.informe .input-list td {
  padding: 10px;
  border: 1px solid black;
}

.footer {
  grid-area: bottom-side;
  height: 50px;
  width: auto;
  margin-right: 20px;
  justify-self: right;
  align-self: end;
}
.footer img {
  height: 20px;
  margin-top: 25px;
}

.menu-slide {
  content: " ";
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  grid-template-rows: repeat(3, auto);
  background: #ffffff;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 100%);
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  height: 100%;
  width: 45vw;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.menu-slide .menu-close {
  font-size: 30px;
  justify-self: end;
  color: #000000;
  outline: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  height: 32px;
}
.menu-slide .menu-close:hover {
  color: #964F4D;
}
.menu-slide .indice {
  justify-self: center;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.menu-slide .indice li {
  -webkit-transform: translateX(90px);
  transform: translateX(90px);
  font-size: 34px;
  -webkit-filter: opacity(100%);
  filter: opacity(100%);
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
.menu-slide .indice li:nth-of-type(1) {
  font-size: 52px;
}
.menu-slide .indice li:hover {
  color: #5D8CB3;
}
.menu-slide .indice li a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

@media (max-width: 768px) {
  .intro {
    margin-top: 30px;
  }
  .intro h1 {
    font-size: 34px;
    margin-bottom: -15px;
  }
  .intro h3 {
    font-size: 24px;
  }
  .intro h5 {
    font-size: 24px;
  }

  .menu-slide .indice li {
    font-size: 22px;
    transform: translateX(10px);
  }
  .menu-slide .indice li:nth-of-type(1) {
    font-size: 36px;
  }
}
@media (min-width: 1080px) {
  .galeria .foto {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
