body {
  background-color: #964F4D;
  padding: 0;
  margin: 0;
}

.content-div {
  position: relative;
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "mid" "footer";
}
.content-div::before {
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("/src/img/background/studio-background-1.jpg");
  background-color: #964F4D;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 100vh;
  background-blend-mode: soft-light;
  filter: blur(8px) opacity(70%);
}

.header {
  grid-area: header;
  padding: 15px;
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas: "logo space menu";
  align-items: center;
}
.header img {
  grid-area: logo;
  height: 75px;
  margin-right: 15px;
}
.header .title {
  grid-area: logo;
  color: #F8FB9B;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  transform: translateX(85px);
  cursor: default;
}
.header .menu-open {
  grid-area: menu;
  justify-self: end;
  color: #ffffff;
  font-size: 30px;
  outline: none;
  transition: 0.3s color;
}
.header .menu-open:hover {
  color: #5D8CB3;
}

.intro {
  grid-area: mid;
  justify-self: left;
  align-self: center;
  margin-left: 50px;
  margin-top: 95px;
  font-family: "Atma", sans-serif;
  color: #F8FB9B;
  cursor: default;
}
.intro h1 {
  font-size: 50px;
  margin-bottom: -35px;
}
.intro h3 {
  font-size: 30px;
  margin-bottom: -30px;
}
.intro h5 {
  font-size: 26px;
}

.footer {
  grid-area: footer;
  padding: 20px;
}
.footer img {
  height: 20px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1;
}

.menu-slide {
  content: " ";
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  grid-template-rows: repeat(3, auto);
  background: #ffffff;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 100%);
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  height: 100%;
  width: 45vw;
  transform: translate(100%, 0);
}
.menu-slide .menu-close {
  font-size: 30px;
  justify-self: end;
  color: #000000;
  outline: none;
  transition: color 0.2s ease-out;
}
.menu-slide .menu-close:hover {
  color: #964F4D;
}
.menu-slide .indice {
  justify-self: center;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.menu-slide .indice li {
  transform: translateX(90px);
  font-size: 34px;
  transition: 0.2s color ease-out;
}
.menu-slide .indice li:nth-of-type(1) {
  font-size: 52px;
}
.menu-slide .indice li:hover {
  color: #5D8CB3;
}
.menu-slide .indice li a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

@media (max-width: 768px) {
  .intro {
    margin-top: 30px;
  }
  .intro h1 {
    font-size: 34px;
    margin-bottom: -15px;
  }
  .intro h3 {
    font-size: 24px;
  }
  .intro h5 {
    font-size: 24px;
  }

  .menu-slide .indice li {
    font-size: 22px;
    transform: translateX(10px);
  }
  .menu-slide .indice li:nth-of-type(1) {
    font-size: 36px;
  }
}

/*# sourceMappingURL=main.css.map */
